* {
    margin: 0;
    padding: 0;
}

//Inicio de Hamburger Icon
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(226, 177, 52);
    height: auto;
    padding: 25px 0;
    .menu-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            text-decoration: none;
            font-size: 30px;
            color: rgb(166, 48, 121);
        }
    }
}

.sub-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(64, 226, 52);
    height: auto;
    padding: 20px 0;
    .sub-menu-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            text-decoration: none;
            font-size: 25px;
            color: rgb(46, 14, 33);
        }
    }
}
//Final de Hamburger Icon

//Inicio de Accordion
.main-accordion-container {
    width: 100%;
    border-bottom: 4px solid black;
    .accordion-item {
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        border-top: 2px solid black;
        .accordion-title {
            //background-image: url("/img/accordion-bg.png");
            width: 100%;
            height: auto;
            background: aquamarine;
            color: rgb(38, 115, 183);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0px;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0 20px;
                pointer-events: none;
                text-align: center;
                font-size: 30px;
            }
            &:hover {
                transform: scale(1.05);
                border: 3px solid black;
            }
        }

        .accordion-desc {
            width: 100%;
            border-top: 3px solid rgb(41, 83, 200);
            display: none;
        }

        &.tab-active {
            .accordion-title {
                height: auto;
                p {
                    font-size: 40px;
                    pointer-events: all;
                }
            }
            .accordion-desc {
                display: flex;
                align-items: center;
                justify-content: center;
                height: auto;
                background-color: darkcyan;
                padding: 15px 10px 15px 10px;
                p {
                    text-align: justify;
                    font-size: 25px;
                    color: rgb(242, 244, 246);
                    padding: 0 20px;

                }
            }
        }
    }
}
//Final de Accordion

//Inicio de Cards
.card-list {
    background: darkcyan;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    .card-item {
        border: 2px solid black;
        width: 30%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 0 20px 0;
        background: aliceblue;
        box-shadow: 3px 3px 8px +1px black;
        &:hover {
            transform: scale(1.005) translateY(-3px);
        }
        img {
            width: 100%;
            height: 290px;
            object-fit: cover;
        }

        .card-info {
            height: auto;
            padding: 10px 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .card-title {
                width: 100%;
                font-size: 25px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
                margin-bottom: 15px;
            }

            .card-desc {
                font-size: 22px;
                text-align: justify;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }

            .card-cta {
                width: 35%;
                height: 45px;
                text-decoration: none;
                border: 3px solid black;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                background: blue;
                color: aliceblue;
                margin: 30px 10px 5px 0;
                &:hover {
                    transform: scale(1.1) translateX(-5px);
                }
            }


        }
    }
}
//Final de Cards

//Inicio de Wrap
main {
    background: darkturquoise;
    
    .container-1 {
        background: aquamarine;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0 30px 0;
        img {
            width: 45%;
            padding: 20px 0 20px 0;
        }
        .container-1-text{
            width: 45%;
            border: 2px solid black;
            border-radius: 10px;
            background: rgb(190, 185, 179);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            color: rgb(50, 54, 53);
            h1 {
                padding: 10px 0 10px 0;
                font-size: 28px;
            }
            h2 {
                padding: 0 15px 10px 15px;
                font-size: 23px;
                text-align: center;
            }
            p {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: justify;
                font-size: 15px;
                padding: 10px 15px 10px 15px;
            }
        }
    }

    .container-2 {
        background: rgb(98, 175, 106);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 30px 0;
        img {
            width: 45%;
            padding: 20px 0 20px 0;
        }
        .container-2-text{
            width: 45%;
            border: 2px solid black;
            border-radius: 10px;
            background: burlywood;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            color: rgb(50, 54, 53);
            h1 {
                padding: 10px 0 10px 0;
                font-size: 28px;
            }
            h2 {
                padding: 0 15px 10px 15px;
                font-size: 23px;
                text-align: center;
            }
            p {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: justify;
                font-size: 15px;
                padding: 10px 15px 10px 15px;
            }
        }
    }

    .container-3 {
        background: cornflowerblue;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 30px 0;
        img {
            width: 80%;
            padding: 20px 0 20px 0;
        }
        .container-3-text{
            width: 80%;
            border: 2px solid black;
            border-radius: 10px;
            background: rgb(154, 188, 233);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            color: rgb(50, 54, 53);
            h1 {
                padding: 10px 0 10px 0;
                font-size: 28px;
            }
            h2 {
                padding: 0 15px 10px 15px;
                font-size: 23px;
                text-align: center;
            }
            p {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: justify;
                font-size: 15px;
                padding: 10px 15px 10px 15px;
            }
        }
    }



}
//Final de Wrap

@media (max-width: 1500px) {
    //Inicio de Cards
    .card-list {
        .card-item {
            img {
                height: 200px;
            }
            .card-info {
                .card-cta {
                    width: 50%;
                    font-size: 20px;
                    margin: 20px 5px 5px 0;
                }
            }
        }
    }
    //Final de Cards
}

@media (max-width: 991px) {
    //Inicio de Hamburger Icon
    .menu-container {
        justify-content: flex-end;
        position: relative;
        .menu-list {
            display: none;
        }
        .hamburger-icon {
            width: 35px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            span {
                width: 100%;
                height: 4px;
                background:rgb(46, 14, 33);
                display: block;
                border-radius: 2px;
            }
        }
    }
    .menu-container.menu-open {
        .menu-list {
            z-index: 2;
            display: flex;
            width: auto;
            height: auto;
            border: 2px solid black;
            margin: 250px 10px 0 0;
            flex-direction: column;
            text-align: center;
            background-color: aquamarine;
            border-radius: 15px;
            a {
                padding: 5px;
                color: black;
                font-size: 30px;
            }
        }
    }
    .sub-menu-container {
        justify-content: flex-start;
        position: relative;
        height: 40px;
        .sub-hamburger-icon {
            width: 35px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            span {
                width: 100%;
                height: 4px;
                background:black;
                display: block;
                border-radius: 2px;
            }
        }
        .sub-menu-list {
            display: none;
        }
    }
    .sub-menu-container.sub-menu-open {
        .sub-menu-list{
            display: flex;
            z-index: 1;
            width: auto;
            height: auto;
            background-color: blue;
            flex-direction: column;
            border: 2px solid beige;
            border-radius: 15px;
            margin: 200px 0 0 10px;
            text-align: center;
            a {
                padding: 5px;
                color: beige;
                font-size: 30px;
            }
        }
    }
    //Final de Hamburger Icon

    //Inicio de Cards
    .card-list {
        .card-item {
            width: 45%;
            img {
                height: 350px;
            }
        }
    }
    //Final de Cards

    //Inicio de Main
    main {
        .container-1 {
            flex-direction: column;
            border-bottom: solid 2px black;
            img {
                width: 90%;
                margin: 10px 0 10px 0;
            }
            .container-1-text{
                width: 90%;
            }
        }

        .container-2 {
            flex-direction: column;
            border-bottom: solid 2px black;
            padding: 20px 0 0 0;
            img {
                width: 90%;
                margin: 10px 0 10px 0;
            }
            .container-2-text{
                width: 90%;
            }
        }
        
        .container-3 {
            flex-direction: column;
            border-bottom: solid 2px black;
            img {
                width: 90%;
                margin: 10px 0 10px 0;
            }
            .container-3-text{
                width: 90%;
            }
        }
    }

    //Final de Main

}

@media (max-width: 700px) {
    //Inicio de Cards
    .card-list {
        .card-item {
            width: 90%;
            img {
                height: 200px;
            }
            .card-info {
                .card-cta {
                    width: 50%;
                    font-size: 15px;
                    margin: 20px 5px 5px 0;
                }
            }
        }
    }
    //Final de Cards
}

